.logo{
    width: 15rem;
    
}
.image{
    width: 100%;
    
}

.App{
    margin: 30px;
}

.block{
    display: block;
    
}

.display{
    display: flex;
    flex-direction: row;
}

.input{
    width: 50%;
}

.center{
    width: 70%;
    margin: auto;
}

.formHead{
display: flex;
justify-content: center;
}


.image{
    margin-left: 2rem;
    width: 40%;
}