@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "poppins-extra-bold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
  }

html,
body {
  font-family: "poppins-regular";
}


/* Applying mobile styles */
@media (max-width: 767px) {
  .ant-steps {
    width: 100%;
    height: auto;
    display: flex;
    
    
  }

  .ant-steps-item-title {
    display: inline-block;
    margin-right: 12px; /* Reset margin on mobile to stack titles vertically */
    margin-bottom: 8px; /* Add margin between stacked titles */
    visibility: hidden;
    
  }
  
}

